<!-- ###TEMPLATE_EMAIL_ADMIN_PLAIN### -->
###master_email-admin-start-plain###
    ###master_email-line-plain_market-id###
    ###master_email-line-plain_market-title###
    ###master_email-line-plain_market-subtitle###
    
    ###master_email-line-plain_name###
    ###master_email-line-plain_company###
    
    ###master_email-line-plain_zip###
    ###master_email-line-plain_street###
    
    ###master_email-line-plain_email###
    ###master_email-line-plain_fon###
    ###master_email-line-plain_mobile###
    ###master_email-line-plain_birthday###
    
    ###master_email-line-plain_education###
    ###master_email-line-plain_statusquo###
    ###master_email-line-plain_intended###
    
    ###master_email-line-plain_language1###
    ###master_email-line-plain_level1###
    ###master_email-line-plain_language2###
    ###master_email-line-plain_level2###
    ###master_email-line-plain_langmore###
    
    ###master_email-line-plain_willingnesstotravel###
    ###master_email-line-plain_willingnesstorelocate###
    ###master_email-line-plain_noticeperiod###
    ###master_email-line-plain_available###
    ###master_email-line-plain_salary###
    ###master_email-line-plain_salary_ext###
    
    ###master_email-line-plain_message###
###master_email-admin-end-plain###
<!-- ###TEMPLATE_EMAIL_ADMIN_PLAIN### -->

<!-- ###TEMPLATE_EMAIL_ADMIN_HTML### -->
###master_email-admin-start-html###
    ###master_email-line-html_market-id###
    ###master_email-line-html_market-title###
    ###master_email-line-html_market-subtitle###

    ###master_email-line-html_name###
    ###master_email-line-html_company###
    
    ###master_email-line-html_zip###
    ###master_email-line-html_street###
    
    ###master_email-line-html_email###
    ###master_email-line-html_fon###
    ###master_email-line-html_mobile###
    ###master_email-line-html_birthday###
    
    ###master_email-line-html_education###
    ###master_email-line-html_statusquo###
    ###master_email-line-html_intended###
    
    ###master_email-line-html_language1###
    ###master_email-line-html_level1###
    ###master_email-line-html_language2###
    ###master_email-line-html_level2###
    ###master_email-line-html_langmore###
    
    ###master_email-line-html_willingnesstotravel###
    ###master_email-line-html_willingnesstorelocate###
    ###master_email-line-html_noticeperiod###
    ###master_email-line-html_available###
    ###master_email-line-html_salary###
    ###master_email-line-html_salary_ext###
    
    ###master_email-line-html_message###

###master_email-admin-end-html###
<!-- ###TEMPLATE_EMAIL_ADMIN_HTML### -->


